In [1]:
a = 1

while a<= 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

#sum up the number till some point

In [1]:
n = int(input("Enter your limit"))
starting_point = 0
counter =1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter +1
    
starting_point

Enter your limit10

55

In [4]:
no = int(input("Enter your number : "))
factorial = 1
while no > 0:
    factorial = factorial * no
    no = no - 1
    
factorial

Enter your number : 5

120

In [ ]:
#Fibonacci Series

In [5]:
number = int(input("Enter the number of element you are looking for "))
a, b = 0, 1
counter = 0
while counter < number:
    print(a)
    c = a+b
    a = b
    b = c
    counter = counter + 1

Enter the number of element you are looking for 5
0
1
1
2
3

In [6]:
a, b = 0, 1
for i in range(10):
    print(a)
    c = a+b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [7]:
s = "prince"

In [8]:
s[:: -1]

'ecnirp'

In [9]:
word = input("Enter your string for reversal : ")

Enter your string for reversal : Prince

In [10]:
reverse = ""
length = len(word)
while length>0:
    reverse = reverse + word[length -1]
    length = length -1
print(reverse)

ecnirP

In [ ]:
#Print table of numbers

In [11]:
n = int(input("Enter your number"))
i = 1
while i<=10:
    result = n*i
    print(n, "* ", i , "=", result)
    i = i+1

Enter your number21
21 *  1 = 21
21 *  2 = 42
21 *  3 = 63
21 *  4 = 84
21 *  5 = 105
21 *  6 = 126
21 *  7 = 147
21 *  8 = 168
21 *  9 = 189
21 *  10 = 210

In [13]:
n = 5
i = 1
while i< n:
    print(i)
    i = i+1
else:
    print("This will be be executed once your while will complete it succesfully")

1
2
3
4
This will be be executed once your while will complete it succesfully

In [14]:
n = 5
i = 1
while i< n:
    print(i)
    if i == 3:
        break
    i = i+1    
else:
    print("This will be be executed once your while will complete it succesfully")

1
2
3

# Comprehension

In [15]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)

In [16]:
l1

[1, 4, 9, 16, 25]

In [17]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [18]:
[i for i in l if i % 2 == 0 ]

[2, 4]

In [19]:
l1 = ["prince", "pwskills", "kumar", "data science masters"]

In [22]:
[i.upper() for i in l1 ]

['PRINCE', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTERS']

In [23]:
l

[1, 2, 3, 4, 5]

In [25]:
list(i**2 for i in l)

[1, 4, 9, 16, 25]

In [26]:
d = {"key1" : 1, "key2" : 2, "key3" : 3, "key4" : 4}

In [28]:
{k:v**2 for k, v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [29]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [30]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [31]:
{k : v for k, v in d.items() if v>1 }

{'key2': 2, 'key3': 3, 'key4': 4}

# Functions

In [32]:
print("This is my print")

This is my print

In [33]:
l = [123, 24, 232, 534]

In [34]:
len(l)

4

In [35]:
type(l)

list

In [36]:
def test():
    pass

In [37]:
def test1():
    print("This is my first fun")

In [38]:
test1()

This is my first fun

In [39]:
test1() + "prince"

This is my first fun

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [40]:
def test2():
    return "this is my first return "  #print always data type NoneType deta h But return wo data type data h jo hamne call kiya h

In [41]:
test2()

'this is my first return '

In [42]:
test2() + "PRINCE"

'this is my first return PRINCE'

In [43]:
def test3():
    return "prince", 23, 343.34, [3,5,34,53]

In [44]:
test3()

('prince', 23, 343.34, [3, 5, 34, 53])

In [45]:
a, b, c , d = test3()

In [46]:
a

'prince'

In [47]:
b

23

In [48]:
c

343.34

In [49]:
d

[3, 5, 34, 53]

In [ ]:
a = 1
b = 4

#OR

a, b = 1, 4

In [50]:
def test4():
    a = 5+6/7
    return a

In [51]:
test4()

5.857142857142857

In [52]:
def test5(a, b, c):
    d = a+b/c
    return d

In [53]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [54]:
test5(4,5,9)

4.555555555555555

In [2]:
def test6(a, b):
    return a+b

In [3]:
test6(5,6)

11

In [4]:
test6("prince", "kumar")

'princekumar'

###### test

In [5]:
test6([1,2,3,4,5], [6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l = [1,2,3,4, "prince", "Choudhury", [1,2,3,4,5,6] ]

In [11]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) ==  int or type(i) == float:
            l1.append(i)
    return l1

In [12]:
test7(l)

[1, 2, 3, 4]

In [13]:
l

[1, 2, 3, 4, 'prince', 'Choudhury', [1, 2, 3, 4, 5, 6]]

In [17]:
def test8(a):
    
    """This is my function to extract run data from list"""
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [18]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [16]:
l

[1, 2, 3, 4, 'prince', 'Choudhury', [1, 2, 3, 4, 5, 6]]

In [ ]:
test8()

In [19]:
def test10(a, b):
    return a, b

In [21]:
def test11(*args):    # * means you can pass n numbers of arguments in a fun
    return args

In [22]:
type(test11())

tuple

In [23]:
test11(1,2,3)

(1, 2, 3)

In [24]:
test11(1,2,3, "prince", "Kumar", [1,2,3,4,4])

(1, 2, 3, 'prince', 'Kumar', [1, 2, 3, 4, 4])

In [25]:
def test12(*prince):
    return prince

In [26]:
test12(1,2,3)

(1, 2, 3)

In [27]:
def test13(*args, a):
    return args, a

In [28]:
test13(1,2,3)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [29]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [30]:
def test14(c, d, a = 23, b = 1):
    return a, b, c, d

In [31]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [32]:
test14(3,4)

(23, 1, 3, 4)

In [33]:
test14(2,5, a = 2323)

(2323, 1, 2, 5)

In [34]:
def test15(**kwargs):
    return kwargs

In [35]:
test15()

{}

In [36]:
type(test15())

dict

In [37]:
test15(a = [1,2,3,4], b = "prince", c = 23.45)

{'a': [1, 2, 3, 4], 'b': 'prince', 'c': 23.45}